
{%if session['desig'] == 'HOD'%}
	{% include 'hodheader.html' %}
{%elif session['desig'] == 'Teacher'%}
	{% include 'teacherheader.html' %}
{%elif session['desig'] == 'Student'%}
	{% include 'studentheader.html' %}
{%elif session['desig'] == 'Staff'%}
	{% include 'staffheader.html' %}
{%elif session['desig'] == 'Principal'%}
	{% include 'principalheader.html'%}
{%else%}
	{% include 'adminheader.html' %}
{%endif%}

<center>
	<h1> Add Notifications </h1><br>

	<table><form method="POST">
		<tr>
			<th> Department : </th>
			<td> <select name='dept' class="inpfld">
				<option> 0 All Departments</option>
				{%for i in data['dept']%}
				<option> {{i['departmentID']}} {{i['department']}} </option>
				}
				{%endfor%}
			</select></td>
		</tr>
		<tr>
			<th> Notification : </th>
			<td> <textarea name='notification' class="inpfld"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center"> <input type="submit" name="addNotification" value="Add Notification" class="subbutn"></td>
		</tr>
	</form></table>

</center><br>

{% include 'footer.html' %}