
{% include 'adminheader.html' %}

<center>
	<div class="links">
	<a href="manageDepartment_admin" class="funcLink">Manage Department</a><br>
	<a href="manageHOD_admin" class="funcLink">Manage HOD</a><br>
	<a href="manageStaff_admin" class="funcLink">Manage Staff</a><br>
	<a href="viewTeachers_admin" class="funcLink">View Teachers</a><br>
	<a href="viewStudents_admin" class="funcLink">View Students</a><br>
	<a href="viewPrincipalLR_admin" class="funcLink">View Principal Leave Requests</a><br>
	<a href="viewHODLR_admin" class="funcLink">View HOD Leave Requests</a><br>
	<a href="viewStaffLR_admin" class="funcLink">View Staff Leave Requests</a><br>
	<a href="addNotification_admin" class="funcLink">Add Notifications</a><br>
	<a href="viewMessage_admin" class="funcLink">View Messages from Principal</a><br>
	<a href="viewComplaint_admin" class="funcLink">View Complaints</a><br>
	</div>
</center>

{% include 'footer.html' %}