
{% include 'hodheader.html' %}

<center><br>
	<div class="links">
	<a href="manageTeachers_hod" class="funcLink">Manage Teachers</a><br>
	<a href="sendLR_hod" class="funcLink">Send Request for Leave</a><br>
	<a href="viewReqStatus_hod" class="funcLink">View Status of Request</a><br>
	<a href="viewTRL_hod" class="funcLink">View Teacher's Request for Leave</a><br>
	<a href="viewSRL_hod" class="funcLink">View Student's Request for Leave</a><br>
	<a href="viewNotifications_hod" class="funcLink">View Notification</a><br>
	<a href="sendComplaint_hod" class="funcLink">Send Complaint</a><br>
	</div>
</center><br>

{% include 'footer.html' %}