
{% include 'studentheader.html' %}

<center><br>
	<div class="links">
	<a href="sendLR_student" class="funcLink">Send Leave Request</a><br>
	<a href="viewReqStatus_student" class="funcLink">View Request Status</a><br>
	<a href="sendComplaint_student" class="funcLink">Send Complaint</a><br>
	<a href="viewNotifications_student" class="funcLink">View Notifications</a><br>
	<a href="sendQueries_student" class="funcLink">Send Queries</a><br>
	</div>
</center><br>

{% include 'footer.html' %}