
{% include 'teacherheader.html' %}

<center><br>
	<div class="links">
	<a href="manageStudents_teacher" class="funcLink">Manage Students</a><br>
	<a href="sendLR_teacher" class="funcLink">Send Request for Leave</a><br>
	<a href="viewReqStatus_teacher" class="funcLink">View Request Status</a><br>
	<a href="viewSRL_teacher" class="funcLink">View Student's Request for Leave</a><br>
	<a href="sendComplaint_teacher" class="funcLink">Send Complaint</a><br>
	<a href="viewNotifications_teacher" class="funcLink">View Notification</a><br>
	<a href="viewQueries_teacher" class="funcLink">View Queries</a><br>
	</div>
</center><br>

{% include 'footer.html' %}