
{%if session['desig'] == 'HOD'%}
	{% include 'hodheader.html' %}
{%elif session['desig'] == 'Teacher'%}
	{% include 'teacherheader.html' %}
{%elif session['desig'] == 'Student'%}
	{% include 'studentheader.html' %}
{%elif session['desig'] == 'Staff'%}
	{% include 'staffheader.html' %}
{%elif session['desig'] == 'Principal'%}
	{% include 'principalheader.html'%}
{%else%}
	{% include 'adminheader.html' %}
{%endif%}

<center>
	<h1>View Queries</h1><br>

	<table cellpadding="2" border="2">
		<tr>
			<th> Send by </th>
			<th> Date </th>
			<th> Query </th>
			<th> Reply </th>
		</tr>
		{%for i in data['queries']%}
		<tr>
			<td> {{i['firstName']}} {{i['lastName']}}</td>
			<td> {{i['date']}} </td>
			<td> {{i['query']}} </td>
			<td> {{i['reply']}} </td>
			<td><a href="queryReply?queryId={{i['queryID']}}">Reply</a></td>
		</tr>
		{%endfor%}
	</table>
</center>

{% include 'footer.html' %}